

        </div>
     <!-- /page content -->
    </div>
</div>
    

    
    <!-- chart js -->
    <script src="/assets/themeGentelella/js/chartjs/chart.min.js"></script>

    <!-- bootstrap progress js -->
    <script src="/assets/themeGentelella/js/progressbar/bootstrap-progressbar.min.js"></script>
    <script src="/assets/themeGentelella/js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="/assets/themeGentelella/js/icheck/icheck.min.js"></script>
    
    <script src="/assets/themeGentelella/js/custom.js"></script>

    

    <!-- image cropping -->
    <script src="/assets/themeGentelella/js/cropping/cropper.min.js"></script>
    <script src="/assets/themeGentelella/js/cropping/main.js"></script>



    <!-- moris js -->
    <script src="/assets/themeGentelella/js/moris/raphael-min.js"></script>
    <script src="/assets/themeGentelella/js/moris/morris.js"></script>
       
    <script src="/assets/themeGentelella/js/bootstrap.min.js"></script>

    

    <script>
        NProgress.done();
    </script>


    </body>

    <!-- footer content -->
       
            <footer class="footer">
                <div class="">
                    <p class="pull-right">©2015 All Rights Reserved. |
                        <span class="lead"> <i class="fa fa-graduation-cap"></i> Codeifyr</span>
                    </p>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->  

        
</html>


