<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/themeGentelella/favicon.ico" rel="shortcut icon" type="image/ico">

    <title>Codeifyr</title>


    <!-- Custom CSS -->
    <link href="/assets/custom/css/main.css" rel="stylesheet">
    
    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/bootstrap/js/bootstrap.min.js" rel="stylesheet">

    <link href="/assets/themeGentelella/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/themeGentelella/css/animate.min.css" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="/assets/themeGentelella/css/custom.css" rel="stylesheet">
    <link rel="/stylesheet" type="text/css" href="assets/themeGentelella/css/maps/jquery-jvectormap-2.0.1.css" />
    <link href="/assets/themeGentelella/css/icheck/flat/green.css" rel="stylesheet" />
    <link href="/assets/themeGentelella/css/floatexamples.css" rel="stylesheet" type="text/css" />

    <script src="/assets/themeGentelella/js/jquery.min.js"></script>
    <script src="/assets/themeGentelella/js/nprogress.js"></script>


    <script>
        NProgress.start();
    </script>
    
    <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>


<body class="nav-md">