.tile-stats{

	text-decoration:none;
}

.login_content .error {
	color: #262626;
	text-shadow: 0 1px 0 #7F7F7F;
}

.easy_pie {
	/*background-color: #F5F5F6;*/
	padding-left: 45px;


}

/*~ a*/
#study_activity a{

	text-decoration:none;
}

.footer {

	border-top: 1px solid #B9B9B9;;
	padding-right: 80px;

}

.alert {
	
}

.image-upload > input
{
    display: none;
}

.profileImg img, #popup img{
	
	width: 180px;
	height: 180px;
}

#image-upload {

	width: 400px;
	height: 350px;
	background-color: #2A3F54;
	border: 1px solid #73879C;
	border-radius: 10px;

	-webkit-box-shadow: 0px 0px 45px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 45px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 45px -4px rgba(0,0,0,0.75);
	/*color: #73879C;*/
}

#image-upload .profileImg{

	padding-left: 110px;
	
}

#image-upload h3{

	text-align: center;;
}

.profileImgButtons {

	padding-left: 125px;
}

#fileName {

	height: 50px;
	padding-top: 15px;
	/*color: #73879C;*/
	text-align: center;

}


/****** Upload button **********************/

.btn-file {
    position: relative;
    overflow: hidden;

}
.btn-file input[type=file] {

    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
   /* text-align: right;*/
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}